nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html') #[img(width="100" height="40" src="img/juancolino@2x.png")]
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if active_item == 1
          li.active
            a(href='index.html') Home
        else
          li
            a(href='index.html') Home
        if active_item == 2
          li.active
            a(href='files/CV_JuanColino_en.pdf') Portfolio
        else
          li
            a(href='files/CV_JuanColino_en.pdf') Portfolio
        if active_item == 3
          li.active
            a(href='files/CV_JuanColino_en.pdf') Resume
        else
          li
            a(href='files/CV_JuanColino_en.pdf') Resume
        if active_item == 4
          li.active
            a(href='ws.html') Workshops
        else
          li
            a(href='ws.html') Workshops
        if active_item == 5
          li.active
            a(href='#') Contact
