doctype html
html(lang='en')
  include ./includes/head.jade
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Juan Colino
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') Home
            li
              a(href='portfolio.html') Portfolio
            li
              a(href='files/CV_JuanColino_en.pdf') Resume
            li.active
              a(href='ws.hmtl') Workshops
            li
              a(href='#') Contact
    .container-fluid
      .row
        .col-xs-12
          img.img-responsive(src="img/TopWS.jpg")
    .container
      .row
        .col-xs-12
          h2 Descripción del workshop
          p
            | ¿La gente se duerme durante tus presentaciones?. ¿Te gustaría mejorar tus habilidades de presentación oral?. En este workshop aprenderás cómo enganchar a tu audiencia en tu presentación y como hacer que ésta sea memorable. 
          p
            | Tras una charla teórica en la que aprenderás trucos y estrategias para mejorar tu estilo oral, tendrás la oportunidad de practicar lo aprendido a través de la elaboración de una presentación. Finalmente tendrás que demostrar tus habilidades en el escenario presentando para tus compañeros de taller.
      .row
        .col-xs-12
          h2 Información general
          ul
            li #[strong Fecha:] Sábado 13 o Domingo 14 de Febrero de 2016.
            li #[strong Turnos:] de 10:00 a 14:00 o de 16:00 a 20:00.
            li #[strong Duración:] 4h aproximadamente.
            li #[strong Plazas:] 8 por turno.
            li #[strong Lugar:] Rana Cowork, Calle Ramón Núñez 1, 1º A. Valladolid.
            li #[strong Imparte:] Juan Colino, Diseñador web y de interacción #[a(href="http://www.juancolino.com") www.juancolino.com].
      .row
        .col-xs-12
          h2 Estructura del Workshop
          ol
            li Charla conceptual
            li Trabajo práctico en parejas
            li Tanda de exposiciones comunes y feedback
      .row
        .col-xs-12
          h2 Materiales necesarios
          p
            | Un #[strong ordenador personal] con software para presentaciones (PowerPoint, Keynote o similar) o con un navegador web moderno (Chrome, Firefox o Safari en sus ultimas versiones).
      .row
        .col-xs-12
          h2 Qué incluye
          ul
            li Café y algo de bollería
            li Material de papelería (bolígrafos y papel)
      .row
        .col-xs-12
          h2 Inscripciones y precio
          p
            | #[strong Anticipada] con pago por Internet: #[strong 35€]
          ul
            li Sábado de 10:00 a 14:00 #[a(href="http://pagad.me/T67x4" target="_blank") #[em (Inscribirse en este turno)]]
            li Sábado de 16:00 a 20:00 #[a(href="http://pagad.me/e3PX4" target="_blank") #[em (Inscribirse en este turno)]]
            li Domingo de 10:00 a 14:00 #[a(href="http://pagad.me/IyNM0" target="_blank") #[em (Inscribirse en este turno)]]
            li Domingo de 16:00 a 20:00 #[a(href="http://pagad.me/Lxh7g" target="_blank") #[em (Inscribirse en este turno)]]
          p
            | El #[strong día del cuso] en mano: #[strong 40€]
      .row
        .col-xs-12
          h2 Contacto
          p
            | Si tienes cualquier duda sobre el workshop puedes contactar conmigo en #[a(href="mailto:juan.colino@gmail.com") juan.colino@gmail.com].    
    include ./includes/footer.jade