doctype html
html(lang='en')
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    .container
      .row
        .col-xs-12
          h1 Juan Colino
          h2 Web and UX Designer
          p This is my personal site. Here you can find my designer portfolio, resume and how to get in touch with me.
          a.btn.btn-lg.btn-default(href='files/portfolio2015.pdf') I'm in, show me that portfolio!

  include ./includes/footer.pug
