doctype html
html(lang='en')
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    h1 This is an example title
    .container-fluid
      .row
        p This is just a paragraph.
    .container
      .row
        .col-xs-12
          h2 Descripcion del workshop
          p ¿La gente se duerme durante tus presentaciones?. ¿Te gustaría mejorar tus habilidades de presentación oral?. En este workshop aprenderás cómo enganchar a tu audiencia en tu presentación y como hacer que ésta sea memorable.
  
  include ./includes/footer.pug
