doctype html
html(lang='en')
  include ./includes/head.pug
  body
    h1 Title
    .container
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
        
    include ./includes/footer.pug
