doctype html
html(lang='en')
  include ./includes/head.pug
  body
    include ./includes/navbar.pug
    .container
      .row
        .col-xs-12
          h1 This is an H1 header
          p Here you have a nice and clean paragraph to get you started.
  
  include ./includes/footer.pug
