doctype html
html(lang='en')
  include ./includes/head.pug
  body
    - var active_item = 4
    include ./includes/navbar.pug
    
    .container
      .row
        .col-xs-12
          h2 Esto son los workshops que imparto
          p
            | El tema no es aburrido, tú si.
  
  include ./includes/footer.pug
