doctype html
html(lang='en')
  include ./includes/head.pug
  body
    - var active_item = 4
    include ./includes/navbar.pug
    
    .container-fluid
      .row
        img.img-responsive(src="img/TopWS.jpg")
    .container
      .row
        .col-xs-12
          h2 Descripción del workshop
          p
            | ¿La gente se duerme durante tus presentaciones?. ¿Te gustaría mejorar tus habilidades de presentación oral?. En este workshop aprenderás cómo enganchar a tu audiencia en tu presentación y como hacer que ésta sea memorable. 
          p
            | Tras una charla teórica en la que aprenderás trucos y estrategias para mejorar tu estilo oral, tendrás la oportunidad de practicar lo aprendido a través de la elaboración de una presentación. Finalmente tendrás que demostrar tus habilidades en el escenario presentando para tus compañeros de taller.
      .row
        .col-xs-12
          h2 Estructura del Workshop
          ol
            li Charla conceptual
            li Trabajo práctico en parejas
            li Tanda de exposiciones comunes y feedback
      .row
        .col-xs-12
          h2 Materiales necesarios
          p
            | Un #[strong ordenador personal] con software para presentaciones (PowerPoint, Keynote o similar) o con un navegador web moderno (Chrome, Firefox o Safari en sus ultimas versiones).
      .row
        .col-xs-12
          h2 Contacto
          p
            | Si estás interesado en este workshop o tienes cualquier duda sobre el workshop puedes contactar conmigo en #[a(href="mailto:juan.colino@gmail.com") juan.colino@gmail.com].    
    include ./includes/footer.pug
